
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{{ path('app_home') }}" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/logo.png" alt="">
        <!-- Uncomment the line below if you also wish to use an text logo -->
        <!-- <h1 class="sitename">TheEvent</h1>  -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>




          <li><a href="{{ path('app_home') }}" class="{% if app.request.attributes.get('_route') == 'app_home'%}active{% endif %}">Accueil<br></a></li>
           <li><a href="{{ path('app_evenement_index') }}" class="{% if app.request.attributes.get('_route') == 'app_evenement_index'
           or app.request.attributes.get('_route') == 'app_evenement_edit'
           or app.request.attributes.get('_route') == 'app_evenement_new'
           or app.request.attributes.get('_route') == 'app_evenement_show'
           or app.request.attributes.get('_route') == 'app_evenement_delete'
           %}active{% endif %}">Evenement<br></a></li>
          <li><a href="#venue">Lieu</a></li>
          
        
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

 {% if app.user %}
           
            <a class="cta-btn d-none d-sm-block" href="{{ path('app_logout') }}">Se déconnecter</a>
        {% else %}
            <a class="cta-btn d-none d-sm-block" href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}
      

    </div>
  </header>
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

     
      