{% extends 'base.html.twig' %}
 
{% block title %}evenement index{% endblock %}
 
{% block body %}
   <section id="hero" class="hero section dark-background">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            
        </div>
        <!-- Spinner End -->




    <div class="container">
        <h2 class="text-center mt-5 mb-3">Liste des evenements</h2>
        <div class="card">
            <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-sm-auto">
                             {% if is_granted('ROLE_ADMIN')%}
                                <a class="btn btn-outline-primary" href="{{ path('app_evenement_new') }}">
                                    <i class="bi bi-plus"  style="font-size: 1.5rem;"></i> <!-- Icône pour créer un nouveau module -->
                                </a>
                            {% endif %}
                            </div>
                            <div class="col-sm-auto">
                               <form class="d-flex" role="search" id="searchForm" action="{{ path('app_evenement_index') }}" method="get">
    <div class="form-group">
        <input type="text" class="form-control me-2" placeholder="Recherche..." name="search" id="searchInput" value="{{ app.request.query.get('search') }}">
    </div>
    <button type="submit" class="btn btn-outline-success ml-2">
        <i class="bi bi-search"></i>
    </button>
</form>

                            </div>
                        </div>
                    </div>
            <div class="card-body">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom évènement</th>
                <th>Description</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>nb_max_participants</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in pagination %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nomEvenement}}</td>
                <td>{{ evenement.descriptionEvenement}}</td>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : '' }}
                <td>{{ evenement.lieuEvenement }}</td> 
                 <td>{{ evenement.nbMaxParticipants }}</td>       
                <td>
                    {# <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a> #}
                    <form method="post" action="{{ path('app_evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                            <div class="d-flex justify-content-center">

                            <a class="btn btn-outline-info mx-1" href="{{ path('app_evenement_show', {'id': evenement.id}) }}">
                                <i class="bi bi-eye"></i> <!-- Icône pour afficher -->
                            </a>
                            {% if is_granted('ROLE_ADMIN')%}
                            <a class="btn btn-outline-success mx-1" href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">
                                <i class="bi bi-pencil"></i> <!-- Icône pour éditer -->
                            </a>
                            <button class="btn btn-outline-danger" type="submit">
                                <i class="bi bi-trash"></i> <!-- Icône pour supprimer -->
                            </button>
                            {% endif %}
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
                    </div>

                        </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
                        {# Affichage de la pagination générée par knp_paginator #}
                        {{ knp_pagination_render(pagination,'pagination.html.twig') }}
                    </div>
            </div>
        </div>
    </div>
  </div>
  </div>

      

    </section><!-- /Hero Section -->
{% endblock %}
