{% extends 'base.html.twig' %}

{% block title %}Nouvelle Inscription{% endblock %}

{% block body %}
<section id="hero" class="hero section dark-background">
    <div class="container">
        <h2 class="text-center mt-5 mb-1">Créer une nouvelle inscription</h2>
        <div class="card">
            <div class="card-header">
                <div class="text-center"></div>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="row mb-3">
                            <div class="col-md-3 label-column">
                                <label for="user" class="form-label">Utilisateur</label>
                            </div>
                            <div class="col-md-9">
                                <span>{{ app.user.nom }}</span> {# Affiche le nom de l'utilisateur connecté #}
                            </div>
                        </div>
                        {% for field in form %}
                            {% if field.vars.name != '_token' and field.vars.name != 'user' %}
                                <div class="row">
                                    <div class="col-md-3 mb-3 label-column">
                                        {% if field.vars.name == 'evenement' %}
                                            <label for="{{ field.vars.id }}" class="form-label">Événement</label>
                                        {% else %}
                                            {{ form_label(field) }}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-9 mb-3">
                                        {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(field) }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <a href="{{ path('app_inscription_index') }}" class="btn btn-outline-secondary me-2">Retour à la liste</a>
                        <button class="btn btn-outline-success me-2">Enregistrer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section><!-- /Hero Section -->
{% endblock %}
