{# templates/user/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
   <section id="hero" class="hero section dark-background">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            
        </div>
        <!-- Spinner End -->




    <div class="container">
        <h2 class="text-center mt-5 mb-3">Liste des utilisateurs</h2>
        <div class="card">
            <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-sm-auto">
                               
                            </div>
                            <div class="col-sm-auto">
                               <form class="d-flex" role="search" id="searchForm" action="{{ path('app_users_list') }}" method="get">
    <div class="form-group">
        <input type="text" class="form-control me-2" placeholder="Recherche..." name="search" id="searchInput" value="{{ app.request.query.get('search') }}">
    </div>
    <button type="submit" class="btn btn-outline-success ml-2">
        <i class="bi bi-search"></i>
    </button>
</form>

                            </div>
                        </div>
                    </div>
            <div class="card-body">

    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Nom</th>
            <!-- Ajoutez d'autres en-têtes de colonne si nécessaire -->
        </tr>
    </thead>
    <tbody>
        {% for user in pagination %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <!-- Ajoutez d'autres colonnes pour d'autres champs de l'utilisateur -->
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
 <div class="d-flex justify-content-center">
                        {# Affichage de la pagination générée par knp_paginator #}
                        {{ knp_pagination_render(pagination,'pagination.html.twig') }}
                    </div>

    </div>
       
       
        </div>
    </div>

      

    </section><!-- /Hero Section -->
{% endblock %}

